<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
</head>
<body>
    <h1>Strona główna</h1>
    <h2>{{pageTitle}}</h2>
    <h2>{{title}}</h2>

<form action="">
<input type="text" id="input">
<button id="btn">Przycisk</button>
<p id="text"></p>
</form>

<script src="../js/func.js"></script>
</body>
</html>